@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* Primary */
  --red: hsl(0, 87%, 47%);

  /* Neutral */
  --off-white:hsl(0, 0%, 95%);
  --light-gray: lightgray;
  --gray: hsl(0, 0%, 40%);
  --dark-gray: hsl(0, 0%, 20%);
}

html {
  --r20: calc((20 / var(--base) * 1rem));
  --r14: calc((14 / var(--base) * 1rem));
  --r12: calc((12 / var(--base) * 1rem));
  --base: 16;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
  min-height: 100vh;
}

main {
  background: linear-gradient(white, var(--light-gray)), url("./images/bg-intro-mobile.png") no-repeat center/cover;
  background-blend-mode: saturation;
  min-height: 100vh;
}

.overall-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 1.5rem;
}

.overall-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.overall-container p {
  line-height: 1.8;
  margin-bottom: 2rem;
}

.tag,
.form {
  background-color: var(--light-gray);
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.4rem 0 black;
}

.form div:not(.red-err),
.form button {
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.15rem 0.15rem 0 var(--gray);
  cursor: pointer;
  transition: all ease 0.3s;
}

.form div:not(.red-err):is(:hover,:focus),
.form button:is(:hover,:focus) {
  box-shadow: 0.25rem 0.25rem 0 black;
}

.tag {
  padding: 0.8rem 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.form div:not(.red-err) {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  width: 100%;
}

.form input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.form div .icon-err {
  height: 1rem;
}

.border-red {
  border: 2px solid var(--red) !important;
}

.hidden {
  display: none;
}

.form button {
  background-color: var(--gray);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.8rem 2rem;
  outline: none;
  text-transform: uppercase;
}

.form button:hover {
  opacity: 0.7;
}

.form small {
  color: var(--gray);
  text-align: center;
}

.form small span {
  color: var(--dark-gray);
  font-weight: bold;
}

.red-err {
  color: var(--red);
  font-size: var(--r14);
  text-align: right;
}

@media (min-width: 768px) {
  main {
    background: linear-gradient(white, var(--light-gray)), url("./images/bg-intro-desktop.png") no-repeat center/cover;
  }

  .overall-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
  }

  .overall-container h1 {
    font-size: 3rem;
  }

  .overall-container h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1023px) {
  .overall-container {
    gap: 3rem;
  }
}